/*Defining fonts*/
h1 {
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 35px;
    font-family: Arial;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
}

p {
    font-size: 20px;
    font-family: Arial;
}

/*defining sizes of divs and spans*/
.wrapper {
    margin: auto;
    width: 97%;
    height: 650px;
    border: 3px solid green;
    padding: 10px;
}

.navbar {
    float: left;
    margin: auto;
    width: 20%;
    height: 96%;
    border: 3px solid blue;
    padding: 10px;
}

.projectcardspace {
    float: right;
    margin: auto;
    width: 75%;
    border: 3px solid red;
}

.projectcard {
    float: left;
    width: 33.333%;
    background-color: orange;
}

.postcard {
    width: 95%;
    background-color: yellow;
    margin: auto;
}

.featuredimagecontainer {
    width: 95%;
    background-color: green;
    margin: auto;
}

.postcardimage {
    max-width: 100%;
}

.postheader {
    max-width: 95%;
    background-color: blue;
    margin: auto;
}

.postexcerpt {
    max-width: 95%;
    background-color: aqua;
    margin: auto;
}






.footer {
    margin: 10px;
    height: 30px;
    width: 97%;
    border: 3px solid black;
    padding: 10px;
}